@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

//Primary Colors
$pink: #ff52bf;

//Neutral Colors
$very-pale-cyan: #ebfbff;
$very-dark-cyan: #00252e;
$grayish-blue: #808d99;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

$breakpoint-sm: 600px;
$breakpoint-md: 767px;
$breakpoint-lg: 1090px;
$breakpoint-xl: 1400px;
